*{
    margin: 0;
    padding: 0;
}
 
header{
    background-image: url('/images/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
}