*{
    margin: 0;
    padding: 0;
}
 
#cabecalho{
    background-image: url('img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
}
nav ul{
    display: flex;
    justify-content: space-between; /* distribui: um à esquerda, um ao centro, um à direita */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #4F594C;
    height: 50px;
}
nav li{
    margin: 0px 10px;
    text-align: center;
    /* background-color: white; */
}
nav a{
    margin-top: 12px;
    color: white; 
    text-decoration: none;
    display: inline-block;
    padding: 5px 13px;
}
nav a:hover{
    background-color: #7c8c77b2;
    transform: scale(1.1);
    transition: 0.2s;
    border-radius: 4px;
    padding: 5px 13px;
    border-radius: 4px;
}
#inicio{
    text-align: left;
}
#sobrenos{
    text-align: center;
}
#contato{
    text-align: right;
}
#produtos{
    text-align: center;
}
#Boas-Vindas{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}