*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #96af92;
    height: 220px;
    border-bottom: 20px solid #4F594C;
}

/* #cabecalho-principal{
    background-image: url('img/1.png');
    background-color: #96af92;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#cabecalho-produtos{
    background-image: url('img/NotSoBasic.png');
    background-position: center;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz o body ocupar toda a altura da viewport */
    margin: 0;
}


main{
    background-color: white;
    height: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;    .apresentacao img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

footer{
    background-color: #4F594C;
    height: 350px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    gap: 20px;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}
footer a{
    color: white;
    text-decoration: none;
}


nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 220px;
    font-size: 18px;
}
nav ul img {
    display: block; /* Remove o comportamento inline */
    margin-right: auto; /* Empurra a imagem para o lado esquerdo */
    margin-left: 0; /* Garante que não haja margem à esquerda */
}
nav li{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    text-align: center;
}
nav a{
    margin-top: 12px;
    color: white; 
    text-decoration: none;
    display: inline-block;
    padding: 5px 13px;
}
nav a:hover{
    background-color: #7c8c77b2;
    transform: scale(1.1);
    transition: 0.2s;
    border-radius: 4px;
    padding: 5px 13px;
}


.titulos{
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulos h1{
    font-size: 40px;
    color: #92A68D;
}
.titulos h2{
    font-size: 20px;
    color: #7C8C77;
}


.apresentacao{
    background-color: #92a68d63;
    color: #4F594C;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    width: 50%;
    height: auto;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.apresentacao img{
    margin-top: 20px;
    max-width: 90%;
    height: auto;
    object-fit: cover;
}


.produtos-lista{
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
    
}
.produtos-lista h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4F594C;
}
.produtos-lista p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1c251b;
    margin-top: 20px;
    margin: 10px;
}

.plus-size{
    background-color: #92a68d63;
    margin: auto;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */

}

.calcas{
    background-color: #92a68d63;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}

.jaquetas{
    background-color: #92a68d63;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}

.coletes{
    background-color: #92a68d63;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}

.shorts{
    background-color: #92a68d63;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}

.shorts-saia{
    background-color: #92a68d63;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}

.saias{
    background-color: #92a68d63;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    border-radius: 10px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Garante que o conteúdo fique em coluna */
    align-items: center; /* Centraliza verticalmente */
}

#Conversar{
    width: 60px;
    height: 30px;
    background-color: #0C545F;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
#Conversar:hover{
    background-color: #0C545F;
    transition: 0.2s;
    border-radius: 10px;
    padding: 10px 30px;
    scale: 1.05;
}